<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="tweet-text">
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @tweet.title %></p>
      <p class="left"><strong>画像</strong></p>
      <p class="left"><%= image_tag @tweet.image.url, :size => "250x200" %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @tweet.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @tweet.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, tweet: @tweet } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, tweet: @tweet } %>
    <% if current_user.id == @tweet.user_id %>
      <%= link_to '編集', edit_tweet_path(@tweet) %> |
    <% end %>
    <%= link_to '戻る', tweets_path %>
  </div>
</div>
